[includeIf "gitdir:/Users/Shaarawi/"]
    path = .gitconfig-personal
[includeIf "gitdir:/Users/Z0044BF/"]
    path = .gitconfig-work
[core]
	editor = nvim
	fsmonitor = true
    commitGraph = true
	attributesfile = /Users/Z0044BF/.gitattributes
[gc]
    writeCommitGraph = true
[scalar]
    repo = true
[color]
	ui = true
[push]
    followTags = true
    default = current
    autoSetupRemote = true
    force = with-lease
[init]
	defaultBranch = main
[rerere]
	enabled = true
[pull]
	rebase = true
    twohead = ort
[fem]
    marc = is ok
    marc = is global
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[remote]
	pushDefault = origin
[branch]
	autosetuprebase = always
	sort = -committerdate
[merge]
[pager]
	difftool = true
[rebase]
    autosquash = true
[maintenance]
    auto = true
    strategy = incremental
    commit-graph = hourly
    prefetch = hourly
    gc = weekly
[column]
	ui = auto

[merge]
	conflictstyle = merge

[diff]
    colorMoved = default
[alias]
    mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -
	lasttag = "!git describe --tags --abbrev=0 HEAD^ && git log --oneline HEAD ^$(git describe --tags --abbrev=0 HEAD^) --no-merges"
	commits = "cherry -v main @"
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	graph = log --all --decorate --oneline --graph
	st = status
	rh = reset HEAD
	rhh = reset --hard HEAD
	tree = log --oneline --decorate --graph
	sup = "!git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`"
	files = !git diff --name-only $(git merge-base HEAD main)
	stat = !git diff --stat $(git merge-base HEAD main)
	fpush = push --force-with-lease
[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
